.HomeBlocks {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.IconAndText {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: calc(1 / 2 * 100% - (1 - 1 / 2) * 10px);
  border-radius: 10px;
  padding: 5vmax 0;
}
.BlockIcon {
  max-width: 100px;
  margin: 0 auto;
  text-align: center;
  height: 100px;
  display: block;
  display: flex;
}

.FaIcon {
  width: 100%;
  color: #e91e63;
  vertical-align: middle;
  margin: auto;
}
.FaIcon svg {
  width: 100%;
  font-size: 60px;
  text-align: center;
}
.IconAndText p {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  padding: 0;
  margin: 0;
}
