.App {
  text-align: center;
}

.App-logo {
  height: 45px;
  font-size: calc(5px + 2vmin);
}

.home-header {
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
  min-height: 35vmin;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: left;
  color: white;
  padding: 3vmin 3vmin;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.App-header-title {
  font-size: calc(5px + 2vmin);
  margin-left: auto;
}
